@{
    ViewBag.Title = "About";
}

<h2>Information</h2>
<p>
This sample is provided by <a href="http://www.rui.fr">Rui Carvalho</a> from <a href="http://www.artofnet.com">ArtOfNet</a>.
</p>

<p>
This sample is provided "AS IS", even if it should be use in production, we are not responsible for your use and possible disaggrements.
This is mainly one way to do push using simple aynchronous http process with long polling technique, learn it, use it, enhance it! 
</p>

<p>
you should fork this on github or push your own modifications:
<a href="https://github.com/rhwy/mediator">https://github.com/rhwy/mediator</a>
</p>

